/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    font-family: Arial, sans-serif;
    background-color: #2A2B36;
    color: #fff;
    display: flex; /* Center vertically and horizontally */
    flex-direction: column; /* Make content stack vertically */
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    min-height: 100vh; /* Make the body full-height */
}

header {
    background-color: #41475e6b;
    padding: 20px;
    width: 100%; /* Occupy full width */
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Stick to the top */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #c4dea4;
}

.registration-container {
    width: 400px;
    margin: 140px auto 0; /* Margin from the top to create space below the header */
    padding: 20px;
    background-color: #41475E;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #50577A;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #50577A;
    color: #fff;
}

button[type="submit"] {
    display: block;
    margin: 20px auto; /* Center the button horizontally and add more space */
    width: 50%; /* Make the button slightly wider */
    padding: 10px;
    background-color: #c4dea4;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #a7d489;
}

li a {
    text-decoration: none;
    color: #c4dea4;
    font-weight: bold;
}

