/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 6px;
}

input[type="email"],
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

select {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button[type="button"] {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #2980b9;
}

button[type="delete-button"] {
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="delete-button"]:hover {
    background-color: #ff4b4b;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2980b9;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

a[href] {
    display: block;
    margin: 5px 0;
    text-align: center;
    color: #3498db;
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}

h3 {
    color: #333;
    margin: 15px 0 10px;
}

p {
    margin-bottom: 10px;
}
